{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <form action="" method="POST" id="projectForm">
        {% csrf_token %}
        {{ form }}
        <label for="categoryInput">Expense Categories (hit enter after every category)</label>
        <input type="text" name="categoryInput" id="categoryInput" aria-label="Add expense category">
        <input type="hidden" name="categoriesString">

        <ul id="categoriesContainer" class="categories-list">
            
        </ul>

        <button type="submit" class="btn btn-primary">Start Project</button>

    </form>
</div>

<script src="{% static 'js/script.js' %}"></script>

{% endblock %}
