{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">

    <h1>My Projects</h1>
    <hr>
    
    <div class="row">
        {% for project in project_list %}              
            <div class="col s12 13 section-projects">
                <div class="card-panel">
                    <h5>{{ project.name }}</h5>
                    <a href="{% url 'detail' project_slug=project.slug %}" class="btn">Visit</a>
                    <a class="close-icon" onclick="deleteProject(this)" data-id="{{ project.id }}"><i class="material-icon red-text right">close</i></a>
                </div>
            </div>
            <a href="{% url 'add' %}" class="btn-large grey">
                <span class="hold">Add New Project</span>
            </a>
        {% endfor %}


        {% if project_list|length == 0 %}
        <div class="noproject-wrapper center">
            <h3 class="grey-text">Sorry, you don't have any projects yet.</h3>
            <a href="{% url 'add' %}" class="btn-large grey">
                <span class="hold">Add Project</span>
            </a>
        </div>

        {% endif %}

    </div>



</div>

<script>
    function deleteProject(e){

        let id = e.dataset.id
        e.closest('project').remove()

        fetch('', {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'id': id
            }),
            credentials: 'same-origin',
        })
    }
</script>

{% endblock %}