{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Login page</h1>

    <form method="post" class="login-form">
        {% csrf_token %}
        {{ form.as_p}}

        <button class="btn btn-primary">Login</button>

        <hr>

        <div class="signup-link">
            <label>Do you need an account?</label>
            <a href="{% url 'register' %}" class="btn-link">Sign up here!</a>
        </div>

        <div class="forgot-password-link">
            <a href="{% url 'password_reset' %}" class="btn-link">Forgot your password?</a>
        </div>
    </form>
</div>
{% endblock %}